---
title: ChatGPT CVA6 verification results
date:  2026-01-05T11:09:41-05:00
tags:
- assertion_gen
mathjax: false
---

# Results
| STAGE      | #(Assertions) | #(Correct %) | #(Cover %) |
| ---------- | ------------- | ------------ | ---------- |
| Commit     | 36            | 86.1         | 83.3       |
| Controller | 27            | 96.3         | 48.1       |
| Execute    | 32            | 68.8         | 80.6       |
| Frontend   | 23            | 69.6         | 86.4       |
| ID stage   | 14            | 64.3         | 76.9       |
| Issue      | 23            | 47.8         | 82.6       | 
