// -------------- THEME SWITCHER -------------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color, $--highlight, $--red) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    text-decoration: none;
    color: $--link-color;

    &:visited {
      color: $--visited-link-color;
    }

    &:visited:hover {
      color: $--bg-color;
      background-color: $--visited-link-color;
    }

    &:hover {
      color: $--bg-color;
      background-color: $--link-color;
    }

    &:active {
      color: $--red;
      background-color: $--bg-color;
    }

    &:active:hover {
      color: $--red;
      background-color: $--bg-color;
    }

  }




  details {
    border: thin solid $--primary-text-color;
  }

  details summary {
    color: $--primary-text-color;
  }

  details[open] summary {
    border-bottom: 1px solid $--primary-text-color;
  }

  pre {
    // bg-dim
    //background: #1e1e1e;
    font-size: 14px;
    border: 5px solid $--secondary-text-color;
    border-radius: 10px;
  }

  code:not(pre > code) {
    font-family: monospace;
    color: $--highlight;
  }


  table,
  th,
  td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption {
    color: $--secondary-text-color;
  }

  blockquote {
    border: thin solid $--primary-text-color;
  }
}

// bg-color,primary-text-color,secondary-text-color,link-color,visited-link-color,highlight

@mixin dark-appearance {
  @include theme(#000000, #ffffff, #595959, #2fafff, #6ae4b9, #f78fe7, #ff5f59); // modus-vivendi
}


@mixin light-appearance {
  @include theme(#ffffff, #000000, #595959, #338fff, #008900, #ff66ff, #ff5f5f); // modus-operandi
}

body[a="dark"] {
  @include dark-appearance;
}

body[a="light"] {
  @include light-appearance;
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    @include dark-appearance;
  }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] {
    @include light-appearance;
  }
}

// -------------------------------------------- //

html {
  height: 100%;
}

body {
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", "Times New Roman", serif;
  font-kerning: auto;
  font-size: 16px;
  font-optical-sizing: auto;
  font-size-adjust: none;
  line-height: 26px;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}


.homepage_title {
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
}

h1 {
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 1.5rem;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}



.footer-separator {
  text-align: center;
  border: 0;
  margin: 2rem 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

pre {
  padding: 1em;
  overflow-x: auto;
  /* Fix pre content overflowing parent without scroll bar */
}

pre [data-line] {
  padding: 0 1rem;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.4rem;
}

// Selects code that is not inside pre
code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 100%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

details {
  padding: 1rem;
}

details summary {
  text-decoration: none;
}

details[open] summary {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.back_home_text {
  font-size: 2em;
}

.toc {
  padding: 1rem;
}

.site-footer {
  padding-top: 1rem;
}


.hltr-gray {
  background: #CACFD9;
}

.hltr-magenta {
  background: #F272D4;
}

.hltr-red {
  background: #ED1842;
}

.hltr-yellow {
  background: #FFEB4D;
}

.hltr-blue {
  background: #24CAFF;
}

.hltr-green {
  background: #29C800;
}

.hltr-purple {
  background: #B272F2;
}

.hltr-orange {
  background: #F25D27;
}

.hltr {
  margin: 0 -0.05em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
}
